<main>
    <app-toggle (themeChange)="switchTheme($event)" [theme]="theme" />
    <app-search-form (searchSubmit)="handleSearchSubmit($event)" />
    <div class="content">
        <div class="loader" *ngIf="(searchService.isLoading$ | async)"></div>
        <app-definitions *ngIf="difinitionsData" [definitionsData]="difinitionsData || []"></app-definitions>
        <ng-container *ngIf="!(searchService.isLoading$ | async)">
            <app-message *ngIf="!(difinitionsData && difinitionsData.length)" [isSubmitted]="isSubmitted"></app-message>
        </ng-container>
    </div>
</main>