.saved-definitions-container {
    max-width: 800px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    border: 1px solid var(--dark-gray);
}

.saved-definitions-title {
    color: var(--dark-gray);
}

form {
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0px;

    transition: border-color .2s ease-in;

}

form:focus-within {
    border-color: var(--outline);
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--light-gray);
    border-radius: 20px;
    background: none;
    color: var(--dark-gray);
    outline: none;

}


ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}



.no-saved-words {
    text-align: center;
    font-size: 1rem;
}