<div class="saved-definitions-container">
    <h2 class="saved-definitions-title">Saved Definitions</h2>
    <form #searchSaved="ngForm">
        <input class="search-input" type="text" placeholder="Search for a word" name="searchInput" ngModel>
    </form>
    <ul>
        @if(savedDefinitions && savedDefinitions.length > 0){
        @for(definition of savedDefinitions | filterDefinitions : searchSaved.value.searchInput; track definition.word){
        <app-definition-item (onRemove)="removeDefinition($event)" [savedWord]="definition"
            [searchInput]="searchSaved.value.searchInput">
        </app-definition-item>
        }
        }@else{
        <div class="no-saved-words">No Saved Definitions Found</div>
        }

    </ul>
</div>