<div class="saved-definitions-container">
    <h2 class="saved-definitions-title">Saved Definitions</h2>
    <form #searchSaved="ngForm" (input)="searchDefinitions(searchSaved.value.searchInput)">
        <input class="search-input" type="text" placeholder="Search for a word" name="searchInput" ngModel>
    </form>
    <ul>
        <li *ngFor="let definition of savedDefinitions" class="definition-item">
            {{ definition.word }} - {{ definition.savedAt | date }}
            <div class="buttons">
                <button class="word-search-button" (click)="navigateToRootWithQuery(definition.word)"> <fa-icon
                        [icon]="search"></fa-icon> </button>
                <button class="remove-button" (click)="removeDefinition(definition.word)"> <fa-icon
                        [icon]="xmark"></fa-icon> </button>

            </div>
        </li>
    </ul>
</div>