<div class="navigation">
    <nav>
        <ul class="links">
            <li><a href="http://">Saved Definitions</a></li>
            <li><a href="http://">About</a></li>
        </ul>
        <a href="https://github.com/AnsBenO/dictionary-angular" class="action_btn">Git Hub</a>
        <div class="toggle_btn" [ngClass]="{'active': !isHidden}" (click)="handleClick()">
            <fa-icon *ngIf="isHidden" [icon]="bars" class="toggle-icon"></fa-icon>
            <fa-icon *ngIf="!isHidden" [icon]="xMark" class="toggle-icon"></fa-icon>
        </div>
    </nav>
    <div class="dropdown_menu" [ngClass]="{'active': !isHidden}">
        <li><a href="http://">Saved Definitions</a></li>
        <li><a href="http://">About</a></li>
        <li><a href="https://github.com/AnsBenO/dictionary-angular" class="action_btn">Git Hub</a></li>
    </div>
</div>